{% macro bs_input(fformObject) %}
    {% if fformObject.vars.errors|length > 0 %}
        {% set fgc, fic = "form-group has-danger", "form-control form-control-danger" %}
    {% else %}
        {% set fgc, fic = "form-group", "form-control" %}
    {% endif %}
    <div class="{{ fgc }}">
        {{ form_label(fformObject, null, {'label_attr': {'class': "form-control-label" }}) }}
        {{ form_widget(fformObject, {'attr': {'class': fic }}) }}
        {% if fformObject.vars.errors|length > 0 %}
            <div class="form-control-feedback">
                <ul>
                {% for error in fformObject.vars.errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endmacro %}