{% extends 'templates/clean.html.twig' %}

{% import "components/form.html.twig" as formUtil %}

{% block content %}
    <h1>{% trans %}User edit{% endtrans %}</h1>

    {{ form_start(edit_form) }}
        {{ formUtil.bs_input(edit_form.fullname) }}
        {{ formUtil.bs_input(edit_form.email) }}
        {{ formUtil.bs_input(edit_form.isActive) }}
        {{ formUtil.bs_input(edit_form.roles) }}
        {{ formUtil.bs_input(edit_form.title) }}
        {{ form_rest(edit_form) }}
        <button type="submit" class="btn btn-primary">{% trans %}Edit{% endtrans %}</button>
    {{ form_end(edit_form) }}

    <dl>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('user_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </dd>
        <dd>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger btn-sm">{% trans %}Delete{% endtrans %}</button>
            {{ form_end(delete_form) }}
        </dd>
    </dl>
{% endblock %}
