{% extends 'templates/clean.html.twig' %}

{% block content %}
    <h1>{% trans %}User list{% endtrans %}</h1>

    <table class="table table-sm table-responsive">
        <thead class="thead-default">
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Fullname{% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th>{% trans %}Is active{% endtrans %}</th>
                <th>{% trans %}Registration Date{% endtrans %}</th>
                <th>{% trans %}Roles{% endtrans %}</th>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.isActive %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</td>
                <td>{% if user.registratedAt %}{{ user.registratedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>
                <td>{{ user.title }}</td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="{{ path('user_show', { 'id': user.id }) }}">{% trans %}Show{% endtrans %}</a>
                    <a class="btn btn-secondary btn-sm" href="{{ path('user_edit', { 'id': user.id }) }}">{% trans %}Edit{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <dl>
        <dd>
            <a class="btn btn-primary btn-sm" href="{{ path('register') }}">{% trans %}Create a new user{% endtrans %}</a>
        </dd>
    </dl>
{% endblock %}
