{% extends 'templates/clean.html.twig' %}

{% block content %}
    <form class="col-md-4 offset-md-4" action="{{ path('passwordreset', {id: id}) }}" method="POST">
        <div class="form-group">
            <label for="password">{% trans %}New password{% endtrans %}:</label>
            <input class="form-control" type="password" id="password" name="_password" />
        </div>
        <button type="submit" class="btn btn-primary">{% trans %}Reset password{% endtrans %}</button>
    </form>
{% endblock %}