{% extends 'templates/clean.html.twig' %}

{% block content %}
    <h1>{% trans %}User{% endtrans %}</h1>

    <table>
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Fullname{% endtrans %}</th>
                <td>{{ user.fullname }}</td>
            </tr>
            <tr>
                <th>{% trans %}Email{% endtrans %}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{% trans %}Is active{% endtrans %}</th>
                <td>{% if user.isActive %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Registration Date{% endtrans %}</th>
                <td>{% if user.registratedAt %}{{ user.registratedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Roles{% endtrans %}</th>
                <td>{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <td>{{ user.title }}</td>
            </tr>
        </tbody>
    </table>

    <dl>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('user_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </dd>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('user_edit', { 'id': user.id }) }}">{% trans %}Edit{% endtrans %}</a>
        </dd>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('passwordreset', { 'id': user.id }) }}">{% trans %}Reset password{% endtrans %}</a>
        </dd>
        <dd>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-sm btn-danger">{% trans %}Delete{% endtrans %}</button>
            {{ form_end(delete_form) }}
        </dd>
    </dl>
{% endblock %}
