<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Clean{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/css/print.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    <body>
        <div clas="dontprint">
            {% if is_granted("ROLE_USER") %}
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="{% trans %}Toggle navigation{% endtrans %}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans %}Management{% endtrans %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path("meeting_index") }}">{% trans %}Meeting{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path("meetinggroup_index") }}">{% trans %}Meeting group{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path("registration_index") }}">{% trans %}Registration{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path("user_index") }}">{% trans %}User{% endtrans %}</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.fullname }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path("user_show", {'id': app.user.id}) }}">{% trans %}LoginBundle:Auth:Profile{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path("logout") }}">{% trans %}LoginBundle:Auth:Logout{% endtrans %}</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("login") }}">{% trans %}LoginBundle:Auth:Login{% endtrans %}</a>
                        </li>
                        {% endif %}
                        
                    </ul>
                </div>
            </nav>
            {% endif %}
        </div>
        
        {% block bcontent %}{% endblock %}
        <div class="container alert-container">
            <div class="col-md-8 offset-md-2">
            {% for flash in app.session.flashBag.get('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="alert-heading">{{ flash.title }}</h5>
                    {{ flash.message }}
                </div>
            {% endfor %}
            {% for flash in app.session.flashBag.get('info') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="alert-heading">{{ flash.title }}</h5>
                    {{ flash.message }}
                </div>
            {% endfor %}
            {% for flash in app.session.flashBag.get('warning') %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="alert-heading">{{ flash.title }}</h5>
                    {{ flash.message }}
                </div>
            {% endfor %}
            {% for flash in app.session.flashBag.get('danger') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="alert-heading">{{ flash.title }}</h5>
                    {{ flash.message }}
                </div>
            {% endfor %}
            </div>
        </div>
        {% block body %}
        <div class="container">
            {% block content %}
            Please consider placing blocks <code>body</code>(or <code>content</code>), <code>title</code>, <code>stylesheets</code> and <code>javascripts</code>.

            {% endblock %}
        </div>
        {% endblock %}


        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
    <!-- Copyright 2017 kkarolis.lt -->
</html>