{% extends 'templates/clean.html.twig' %}

{% block title %}{% trans %}MeetingBundle:Registration:CodeEntry:Title{% endtrans %}{% endblock %}

{% block stylesheets %}
<style>
.main {
    margin-top: 8em;
}
</style>
{% endblock %}


{% block content %}
    <div class="col-md-4 offset-md-4 main">
        <form action="{{ path('registration_code') }}" method="post">
            <div class="form-group">
                <label for="code">{% trans %}MeetingBundle:Registration:CodeEntry:TermCode{% endtrans %}</label>
                <input class="form-control" type="text" id="code" name="code" value="{{ oldcode }}"/>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-primary">{% trans %}MeetingBundle:Registration:CodeEntry:BtnRegister{% endtrans %}</button>
        </form>
    </div>
    
{% endblock %}