{% extends 'templates/clean.html.twig' %}

{% import "components/form.html.twig" as formUtil %}

{% block title %}{% trans %}Edit{% endtrans %} - {% trans %}Registration{% endtrans %} - {% trans %}Management{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Registration edit{% endtrans %}</h1>

    {{ form_start(edit_form) }}
        {{ formUtil.bs_input(edit_form.participantName) }}
        {{ formUtil.bs_input(edit_form.studentName) }}
        {{ formUtil.bs_input(edit_form.notes) }}
        {{ formUtil.bs_input(edit_form.meeting) }}
        {{ formUtil.bs_input(edit_form.user) }}
        {{ form_rest(edit_form) }}
        <button type="submit" class="btn btn-primary">{% trans %}Edit{% endtrans %}</button>
    {{ form_end(edit_form) }}

    <dl>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('registration_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </dd>
        <dd>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger btn-sm">{% trans %}Delete{% endtrans %}</button>
            {{ form_end(delete_form) }}
        </dd>
    </dl>
{% endblock %}
