{% extends 'templates/clean.html.twig' %}

{% block title %}{% trans %}Registration{% endtrans %} - {% trans %}Management{% endtrans %}{% endblock %}

{% block stylesheets %}
<style>
td {
    padding-left: 3px;
    padding-right: 3px;
}
</style>
{% endblock %}

{% block content %}
    <h1>{% trans %}Registrations list{% endtrans %}</h1>
    {% if meeting is defined %}
    <h4>{{ "reglist for %name%"|trans({'%name%': meeting.name}) }}</h4>
    {% endif %}
    <table class="table table-sm table-responsive">
        <thead class="thead-default">
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Participant name{% endtrans %}</th>
                <th>{% trans %}Student name{% endtrans %}</th>
                <th>{% trans %}Notes{% endtrans %}</th>
                {% if meeting is not defined %}
                <th>{% trans %}Meeting{% endtrans %}</th>
                {% endif %}
                <th>{% trans %}Start time{% endtrans %}</th>
                <th>{% trans %}End time{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for registration in registrations %}
        {% if is_granted('view', registration) %}
            <tr>
                <td><a href="{{ path('registration_show', { 'id': registration.id }) }}">{{ registration.id }}</a></td>
                <td>{{ registration.participantName }}</td>
                <td>{{ registration.studentName }}</td>
                <td>{{ registration.notes }}</td>
                {% if meeting is not defined %}
                <td>{{ registration.meeting.name }}</td>
                {% endif %}
                {% if registration.meeting %}
                <td>{{ registration.meeting.startTime|date('Y-m-d H:i:s') }}</td>
                <td>{{ registration.meeting.endTime|date('Y-m-d H:i:s') }}</td>
                {% else %}
                <td>{% trans %}MEETING INVALID{% endtrans %}</td>
                <td>{% trans %}MEETING INVALID{% endtrans %}</td>
                {% endif %}
                
                <td class="no-print">
                    <a class="btn btn-secondary btn-sm" href="{{ path('registration_show', { 'id': registration.id }) }}">{% trans %}Show{% endtrans %}</a>
                {% if is_granted('edit', registration) %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('registration_edit', { 'id': registration.id }) }}">{% trans %}Edit{% endtrans %}</a>
                {% endif %}
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_HOST') %}
    <dl>
        <dd>
            <a class="btn btn-primary btn-sm" href="{{ path('registration_new') }}">{% trans %}Create a new registration{% endtrans %}</a>
        </dd>
    </dl>
    {% endif %}
{% endblock %}
