{% extends 'templates/clean.html.twig' %}

{% import "components/form.html.twig" as formUtil %}

{% block title %}{% trans %}MeetingBundle:Registration:InfoUpdate:Title{% endtrans %}{% endblock %}

{% block stylesheets %}
<style>
.main {
    margin-top: 8em;
}
</style>
{% endblock %}


{% block content %}
    <div class="col-md-4 offset-md-4 main">
        <form action="{{ path('registration_updateinfo') }}" method="post">
            <div class="form-group">
                <label for="name">{% trans %}MeetingBundle:Registration:InfoUpdate:ParticipantName{% endtrans %}</label>
                <input class="form-control" type="text" id="name" name="name"/>
            </div>
            <div class="form-group">
                <label for="sname">{% trans %}MeetingBundle:Registration:InfoUpdate:StudentName{% endtrans %}</label>
                <input class="form-control" type="text" id="sname" name="sname"/>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-primary">{% trans %}MeetingBundle:Registration:InfoUpdate:BtnUpdate{% endtrans %}</button>
        </form>
    </div>
    
{% endblock %}