{% extends 'templates/clean.html.twig' %}

{% block title %}{% trans %}Show{% endtrans %} - {% trans %}Registration{% endtrans %} - {% trans %}Management{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Registration{% endtrans %}</h1>

    <table>
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ registration.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Participant name{% endtrans %}</th>
                <td>{{ registration.participantName }}</td>
            </tr>
            <tr>
                <th>{% trans %}Student name{% endtrans %}</th>
                <td>{{ registration.studentName }}</td>
            </tr>
            <tr>
                <th>{% trans %}Notes{% endtrans %}</th>
                <td>{{ registration.notes }}</td>
            </tr>
        </tbody>
    </table>

    <dl>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('registration_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </dd>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('registration_edit', { 'id': registration.id }) }}">{% trans %}Edit{% endtrans %}</a>
        </dd>
        <dd>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-sm btn-danger">{% trans %}Delete{% endtrans %}</button>
            {{ form_end(delete_form) }}
        </dd>
    </dl>
{% endblock %}
