{% extends 'templates/clean.html.twig' %}

{% block content %}
    <a class="btn btn btn-outline-info" href="{{ path("meeting_index") }}" role="button">Go to Meeting management</a></br>
    <a class="btn btn btn-outline-info" href="{{ path("registration_index") }}" role="button">Go to Registration management</a></br>
    <a class="btn btn btn-outline-info" href="{{ path("meetinggroup_index") }}" role="button">Go to MeetingGroup management</a></br>
    <a class="btn btn btn-outline-info" href="{{ path("user_index") }}" role="button">Go to User management</a></br>
{% endblock %}