{% extends 'templates/clean.html.twig' %}

{% block title %}{% trans %}Meeting group{% endtrans %} - {% trans %}Management{% endtrans %}{% endblock %}

{% block stylesheets %}
<style>
td {
    padding-left: 3px;
    padding-right: 3px;
}
</style>
{% endblock %}

{% block content %}
    <h1>{% trans %}Meeting group list{% endtrans %}</h1>

    <table class="table table-sm table-responsive">
        <thead class="thead-default">
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Code{% endtrans %}</th>
                <th>{% trans %}Note{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for meetingGroup in meetingGroups %}
            <tr>
                <td><a href="{{ path('meetinggroup_show', { 'id': meetingGroup.id }) }}">{{ meetingGroup.id }}</a></td>
                <td>{{ meetingGroup.code }}</td>
                <td>{{ meetingGroup.note }}</td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="{{ path('meetinggroup_show', { 'id': meetingGroup.id }) }}">{% trans %}Show{% endtrans %}</a>
                    <a class="btn btn-secondary btn-sm" href="{{ path('meetinggroup_edit', { 'id': meetingGroup.id }) }}">{% trans %}Edit{% endtrans %}</a>
                    <a class="btn btn-secondary btn-sm" href="{{ path('meeting_view', { 'id': meetingGroup.code }) }}">{% trans %}View group{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <dl>
        <dd>
            <a class="btn btn-primary btn-sm" href="{{ path('meetinggroup_new') }}">{% trans %}Create new meeting group{% endtrans %}</a>
        </dd>
    </dl>
{% endblock %}
