{% extends 'templates/clean.html.twig' %}

{% import "components/form.html.twig" as formUtil %}

{% block title %}{% trans %}Create{% endtrans %} - {% trans %}Meeting group{% endtrans %} - {% trans %}Management{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Meeting group creation{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ formUtil.bs_input(form.code) }}
        {{ formUtil.bs_input(form.note) }}
        {{ formUtil.bs_input(form.meetings) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">{% trans %}Create{% endtrans %}</button>
    {{ form_end(form) }}

    <dl>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('meetinggroup_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </dd>
    </dl>
{% endblock %}
