{% extends 'templates/clean.html.twig' %}

{% block title %}{% trans %}Show{% endtrans %} - {% trans %}Meeting group{% endtrans %} - {% trans %}Management{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Meeting group{% endtrans %}</h1>

    <table>
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ meetingGroup.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Code{% endtrans %}</th>
                <td>{{ meetingGroup.code }}</td>
            </tr>
            <tr>
                <th>{% trans %}Note{% endtrans %}</th>
                <td>{{ meetingGroup.note }}</td>
            </tr>
        </tbody>
    </table>

    <dl>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('meetinggroup_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </dd>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('meetinggroup_edit', { 'id': meetingGroup.id }) }}">{% trans %}Edit{% endtrans %}</a>
        </dd>
        <dd>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-sm btn-danger">{% trans %}Delete{% endtrans %}</button>
            {{ form_end(delete_form) }}
        </dd>
    </dl>
{% endblock %}
