{% extends 'templates/clean.html.twig' %}

{% block title %}{% trans %}Meeting{% endtrans %} - {% trans %}Management{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Meetings list{% endtrans %}</h1>

    <table class="table table-sm table-responsive">
        <thead class="thead-default">
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Limit{% endtrans %}</th>
                <th>{% trans %}Start time{% endtrans %}</th>
                <th>{% trans %}End time{% endtrans %}</th>
                <th>{% trans %}Host{% endtrans %}</th>
                <th>{% trans %}Children{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting in meetings %}
        {% if is_granted('view', meeting) and meeting.parent is empty %}
            <tr>
                <td><a href="{{ path('meeting_show', { 'id': meeting.id }) }}">{{ meeting.id }}</a></td>
                <td>{{ meeting.name }}</td>
                <td>{{ meeting.limit|default("NULL") }}</td>
                <td>{% if meeting.startTime %}{{ meeting.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if meeting.endTime %}{{ meeting.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                {% if meeting.host != null %}
                <td>{{ meeting.host.fullname }}</td>
                {% else %}
                <td>{% trans %}Host is not defined{% endtrans %}</td>
                {% endif %}
                <td>{{ meeting.children|length }}</td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="{{ path('meeting_show', { 'id': meeting.id }) }}">{% trans %}Show{% endtrans %}</a>
                {% if is_granted('edit', meeting) %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('meeting_edit', { 'id': meeting.id }) }}">{% trans %}Edit{% endtrans %}</a>
                {% endif %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('registration_index_filter', { 'id': meeting.id }) }}">{% trans %}View registrations{% endtrans %}</a>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_HOST') %}
    <a class="btn btn-primary btn-sm" href="{{ path('meeting_new') }}">{% trans %}Create a new meeting{% endtrans %}</a>
    {% endif %}
{% endblock %}
