{% extends 'templates/clean.html.twig' %}

{% import "components/form.html.twig" as formUtil %}

{% block title %}{% trans %}Create{% endtrans %} - {% trans %}Meeting{% endtrans %} - {% trans %}Management{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Meeting creation{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ formUtil.bs_input(form.name) }}
        {{ formUtil.bs_input(form.startTime) }}
        {{ formUtil.bs_input(form.endTime) }}
        {{ formUtil.bs_input(form.limit) }}
        {{ formUtil.bs_input(form.host) }}
        {{ formUtil.bs_input(form.parent) }}
        {{ formUtil.bs_input(form.groups) }}

        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">{% trans %}Create{% endtrans %}</button>
    {{ form_end(form) }}

    <dl>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('meeting_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </dd>
    </dl>
{% endblock %}
