{% extends 'templates/clean.html.twig' %}

{% block title %}{% trans %}Show{% endtrans %} - {% trans %}Meeting{% endtrans %} - {% trans %}Management{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Meeting{% endtrans %}</h1>

    <table>
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ meeting.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ meeting.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Limit{% endtrans %}</th>
                <td>{{ meeting.limit }}</td>
            </tr>
            <tr>
                <th>{% trans %}Start time{% endtrans %}</th>
                <td>{% if meeting.startTime %}{{ meeting.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}End time{% endtrans %}</th>
                <td>{% if meeting.endTime %}{{ meeting.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Host{% endtrans %}</th>
                {% if meeting.host != null %}
                <td>{{ meeting.host.fullname }}</td>
                {% else %}
                <td>{% trans %}Host is not defined{% endtrans %}</td>
                {% endif %}
            </tr>
            <tr>
                <th>{% trans %}Parent meeting{% endtrans %}</th>
                {% if meeting.parent != null %}
                <td>{{ meeting.parent.name }}</td>
                {% else %}
                <td>{% trans %}Parent is not defined{% endtrans %}</td>
                {% endif %}
            </tr>
            <tr>
                <th>{% trans %}Children meetings{% endtrans %}</th>
                <td><ul>
                {% for submeeting in meeting.children %}
                    <li><a href="{{ path('meeting_show', { 'id': submeeting.id }) }}">{{ submeeting.name }}</a></li>
                {% endfor %}
                </ul></td>
            </tr>
        </tbody>
    </table>

    <dl>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('meeting_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </dd>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('meeting_edit', { 'id': meeting.id }) }}">{% trans %}Edit{% endtrans %}</a>
        </dd>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('meeting_convert', { 'id': meeting.id }) }}">{% trans %}Convert to multiple individual meetings{% endtrans %}</a>
        </dd>
        <dd>
            <a class="btn btn-secondary btn-sm" href="{{ path('registration_index_filter', { 'id': meeting.id }) }}">{% trans %}View registrations{% endtrans %}</a>
        </dd>
        <dd>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-sm btn-danger">{% trans %}Delete{% endtrans %}</button>
            {{ form_end(delete_form) }}
        </dd>
    </dl>
{% endblock %}
