{% extends 'templates/clean.html.twig' %}

{% block title %}{% trans %}MeetingBundle:Meeting:View:Title{% endtrans %}{% endblock %}

{% block bcontent %}
    <div id="spinner-cover" style="display: none;"><div class="cloader"><div class="loader">Loading...</div></div></div>
{% endblock %}

{% block content %}
    <div id="timeline"></div>
    <div class="modal fade" id="meetModal" tabindex="-1" role="dialog" aria-labelledby="meetModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="meetModalLabel">{% trans %}Meeting information{% endtrans %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="form-label col-sm-4">{% trans %}MeetingBundle:Meeting:View:MeetingName{% endtrans %}:</label>
                        <p class="form-control-static col-sm-6" id="meetModalName"></p>
                    </div>
                    <div class="row">
                        <label class="form-label col-sm-4">{% trans %}MeetingBundle:Meeting:View:HostName{% endtrans %}:</label>
                        <p class="form-control-static col-sm-6" id="meetModalHostName"></p>
                    </div>
                    <div class="row">
                        <label class="form-label col-sm-4">{% trans %}MeetingBundle:Meeting:View:StartTime{% endtrans %}:</label>
                        <p class="form-control-static col-sm-6" id="meetModalStartTime"></p>
                    </div>
                    <div class="row">
                        <label class="form-label col-sm-4">{% trans %}MeetingBundle:Meeting:View:EndTime{% endtrans %}:</label>
                        <p class="form-control-static col-sm-6" id="meetModalEndTime"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}MeetingBundle:Meeting:View:BtnClose{% endtrans %}</button>
                    <button type="button" class="btn btn-primary" id="meetModalReg">{% trans %}MeetingBundle:Meeting:View:BtnRegister{% endtrans %}</button>
                </div>
        </div> 
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js" integrity="sha256-cPV18mnKeXm349/LJ+fcY51Ts2ygt+cWpZCzc3YzEus=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/locale/lt.js" integrity="sha256-Tm2xPqLFH9s5yUBhDpRDBZW5HlX8KTNZmdiN19ghRjE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js"></script>
    <script>
        var meetings = {
            {% for meeting in meetings %}
            {% if meeting.children is empty %}
                {{ meeting.id }}: {
                    id: {{ meeting.id }},
                    name: "{{ meeting.name }}",
                    start: "{{ meeting.starttime|date("Y-m-d H:i") }}",
                    end: "{{ meeting.endtime|date("Y-m-d H:i") }}",
                    host: {
                        id: {{ meeting.host.id }},
                        name: "{{ meeting.host.fullname }}",
                    },
                    limit: {{ meeting.limit }},
                    {% if meeting.getOpenPositions() <= 0 %}
                    canRegister: false,
                    {% else %}
                    canRegister: true,
                    {% endif %}
                },
            {% endif %}
            {% endfor %}
        };
        var container = document.getElementById('timeline');
        var items = new vis.DataSet([
            {% for meeting in meetings %}
            {% if meeting.children is empty %}
                {
                    id: {{ meeting.id }},
                    content: "{{ meeting.name }}",
                    start: "{{ meeting.starttime|date("Y-m-d H:i") }}",
                    end: "{{ meeting.endtime|date("Y-m-d H:i") }}",
                    group: {{ meeting.host.id }},
                    {% if meeting.getOpenPositions() <= 0 %}
                    className: "closed",
                    {% else %}
                    className: "open",
                    {% endif %}
                },
            {% endif %}
            {% endfor %}
        ]);
        var groups = [
            {% for host in hosts %}
            {
                id: {{ host.id }},
                content: "<span class='name'>{{ host.fullname }}</span><span class='title'>{{ host.title|raw }}</span>",
            },
            {% endfor %}
        ];
        var options = {
            locales: {
                // create a new locale (text strings should be replaced with localized strings)
                lt: {
                    current: 'dabartinis',
                    time: 'laikas',
                }
            },
            locale: 'lt'
        };
        var timeline = new vis.Timeline(container, items, groups, options);
        timeline.on('select', function (properties) {
            console.log(properties);
            if(properties.items.length > 0){
                var mid = properties.items[0];
                var meeting = meetings[mid];
                $('#meetModalName').text(meeting.name);
                $('#meetModalHostName').text(meeting.host.name);
                $('#meetModalEndTime').text(meeting.end);
                $('#meetModalStartTime').text(meeting.start);
                if(meeting.canRegister) {
                    $('#meetModalReg').removeClass("disabled");
                } else {
                    $('#meetModalReg').addClass("disabled");
                }
                $('#meetModalReg').off("click");
                if (meeting.canRegister) {
                    $('#meetModalReg').click(function () {
                        $('#meetModal').modal('hide');
                        $("#spinner-cover").fadeIn();
                        $.ajax({
                            url: "{{ path('registration_reg') }}",
                            data: {
                                id: meeting.id,
                            },
                            method: "POST",
                            success: function(data, status){;
                                $("#spinner-cover").fadeOut();
                                console.log(data, status)
                                if(data.success) {
                                    $(".alert-container").html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5 class="alert-heading">{% trans %}MeetingBundle:Meeting:View:RegSuc:Title{% endtrans %}</h5>
                                    **MSG**
                                    </div>`.replace("**MSG**", data.message));
                                } else {
                                    $(".alert-container").html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5 class="alert-heading">{% trans %}MeetingBundle:Meeting:View:RegFail:Title{% endtrans %}</h5>
                                        **MSG**
                                    </div>`.replace("**MSG**", data.message));
                                }
                                
                            },
                            error: function(){
                                $("#spinner-cover").fadeOut();
                                $(".alert-container").html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 class="alert-heading">{% trans %}MeetingBundle:Meeting:View:RegFail:Title{% endtrans %}</h5>
                                {% trans %}MeetingBundle:Meeting:View:RegFail:Msg{% endtrans %}
                            </div>`);
                            },
                        });
                    });
                }
                $('#meetModal').modal('show');
            }
            
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.css">
    <style>
    #spinner-cover {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1000;
        align-items: center;
        display: flex;
        justify-content: center;
        background: rgba(0,0,0,0.5);
    }

    .vis-item.closed {
        border: 1px solid #F89797;
        background: #F5D5D5
    }

    .vis-item.open {
        border: 1px solid #99F797;
        background: #D6F5D5
    }

    .vis-item {
        cursor: pointer;
    }

    .vis-label span.title {
        display: block;
        font-size: 0.8em;
    }

    .vis-label span.name {
        display: block;
        font-weight: bold;
    }

    .cloader {
        display: inline-block;
        margin: auto;
    }
    {# Loader from http://projects.lukehaas.me/css-loaders/ #}
    .loader {
        color: #000000;
        font-size: 20px;
        margin: 100px auto;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        position: relative;
        text-indent: -9999em;
        -webkit-animation: load4 1.3s infinite linear;
        animation: load4 1.3s infinite linear;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
    }
    @-webkit-keyframes load4 {
        0%,
        100% {
            box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
        }
        12.5% {
            box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }
        25% {
            box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }
        37.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }
        50% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }
        62.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
        }
        75% {
            box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
        }
        87.5% {
            box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
        }
    }
    @keyframes load4 {
        0%,
        100% {
            box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
        }
        12.5% {
            box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }
        25% {
            box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }
        37.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }
        50% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }
        62.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
        }
        75% {
            box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
        }
        87.5% {
            box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
        }
    }
    </style>
{% endblock %}

