{% extends 'templates/clean.html.twig' %}

{% block title %}{% trans %}LoginBundle:Auth:Login{% endtrans %}{% endblock %}

{% block stylesheets %}
<style>
.main-login {
    margin-top: 8em;
}
</style>
{% endblock %}


{% block content %}
    <div class="col-md-4 offset-md-4 main-login">
        {% if error %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{% trans %}Logging in has failed!{% endtrans %}</strong>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="email">{% trans %}Email{% endtrans %}</label>
                <input class="form-control" type="email" id="email" name="_email" value="{{ last_username }}" />
            </div>
            <div class="form-group">
                <label for="password">{% trans %}Password{% endtrans %}</label>
                <input class="form-control" type="password" id="password" name="_password" />
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-primary">{% trans %}LoginBundle:Auth:Login{% endtrans %}</button>
        </form>
    </div>
    
{% endblock %}
        