{% extends 'templates/clean.html.twig' %}

{% import "components/form.html.twig" as formUtil %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
<style>
.main-login {
    margin-top: 6em;
}
</style>
{% endblock %}

{% block content %}
    <div class="col-md-4 offset-md-4 main-login">
        {{ form_start(form) }}

            {{ formUtil.bs_input(form.fullname) }}
            {{ formUtil.bs_input(form.email) }}
            {{ formUtil.bs_input(form.plainPassword.first) }}
            {{ formUtil.bs_input(form.plainPassword.second) }}

            {{ form_rest(form) }}

            <button type="submit" class="btn btn-primary">{% trans %}LoginBundle:Auth:Register{% endtrans %}</button>

        {{ form_end(form) }}
    </div>
{% endblock %}